<template>
    <div class="card">
        <span>
            <h3>{{ props.id }}</h3>
            <h2>{{ props.title }}</h2>
        </span>
        <span>    
            <select >
            <option v-for="(option) in arreglo" :value="option" :key="option">{{ option }}</option>
            </select>
            <p>{{ props.answer }}</p>
        </span>     
    </div>
</template>
<script setup lang="ts">
import type { IQuiz } from '@/interface/IQuiz'
import { ref } from 'vue';
const props = defineProps<IQuiz>();
const arreglo = props.options;


/*

{{ userAnswer}}

*/

</script>
<style scoped>
.card {
    padding: 10px;
    margin: 5px;
}
</style>