<template>
    <div>
      <ul>
        <ItemQuiz v-bind="options" v-for="(options, index) in QuizData" :key="index" />
         <!-- {{ Useranswer.map (x=> x.answer) }}
       <ItemQuiz
        @SelectedAnswer="CheckValues($event)"
        v-bind="options"
        v-for="(options ,index) In options"
        .id="index"
        .key="index"
        
        /> -->
      </ul>
    </div>
  </template>
  
  <script setup lang="ts">
  // import {ref} from 'vue'
  import QuizData from '@/data/QuizData'
  import ItemQuiz from './ItemQuiz.vue'
  
  // const Useranswer = ref([...QuizData])
  // const Quizdata = ref([...QuizData])
  </script>
  <style scoped></style>