<script setup lang="ts">
import ListQuiz from './components/ListQuiz.vue';

</script>

<template>
  <header>    
  </header>
  <main>
    <ListQuiz></ListQuiz>
  </main>
</template>

<style scoped>

</style>
